@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");
.weatherApp {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  align-items: start;
  justify-items: center;
  color: white;
  border: 1px solid green;
}

.weatherTitle {
  font-family: "Shadows Into Light", cursive;
  font-size: 60px;
  border: 1px solid yellow;
}

.searchBar {
  margin-bottom: 20px;
  border: 2px groove white;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-size: 15px;
  text-align: center;
}

#searchSubmit {
  display: none;
}

.suggestList {
  margin: 0;
  padding: 0;
  /* position: relative; */
  /*perspective: 20px;*/
}

.suggestList li {
  background: lightslategray;
  color: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  /* padding: 20px; */
  transition: background 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
}

.todayWeather {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  align-items: stretch;
  justify-items: start;
  width: 90%;
  height: 100%;
  border: 1px solid blue;
}

.todayWeather h2 {
  margin-left: 15px;
}

.todayDetails {
  margin-left: 20px;
  margin-bottom: 250px;
  /* align-self: stretch; */
  border: 1px solid red;
}